\{{#each this}}
  <div class="seperator">\{{ @key }}</div>
  \{{#each this}}
  <div class="contact-card" data-contact-id="\{{ id }}">
    <div class="profile-image-holder">
      <div class="profile-image" style="background-image: url('\{{auth image }}')"></div>
      <i class="fl-icon fl-icon-user"></i>
    </div>
    <div class="contact-info">
      <div class="contact-user-name">\{{ fullName }}</div>
      <div class="contact-user-preview-holder">
        <div class="contact-user-preview">\{{ title }}</div>
      </div>
    </div>
  </div>
  \{{/each}}
\{{/each}}