<li data-conversation-id="{{ id }}">
  <p>
    <strong>{{ name }}</strong><br />
    {{#with lastMessage}}
      {{ body }} - {{ date }}
    {{/with}}
    {{#if unreadMessages}} ({{ unreadMessages }} unread) {{/if}}
  </p>
</li>