<div class="chat-card" data-conversation-id="\{{ id }}">
  <div class="chat-card-holder \{{#if unreadMessages}}unread\{{/if}} \{{#if isChannel}}channel\{{/if}} \{{#if isGroup}}group\{{/if}}" id="chat-\{{ id }}" data-conversation-id="\{{ id }}">
    <div class="show-more"><i class="fa fa-ellipsis-v"></i></div>
    <div class="profile-image-holder">
      <div class="profile-image" style="background-image: url('\{{auth avatar}}')"></div>
      <i class="fa fa-user"></i>
      <i class="fa fa-users"></i>
    </div>
    <div class="chat-info">
      <div class="chat-user-name">\{{ name }}</div>
      <div class="chat-user-preview-holder">
        \{{#unless definition.group.readOnly}}
          \{{#if isGroup}}
          <div class="chat-participants-preview">\{{ usersInConversation }}</div>
          \{{/if}}
          \{{#if isChannel}}
          <div class="chat-participants-preview"><i class="fa fa-users"></i> \{{ nParticipants }}</div>
          \{{/if}}
        \{{/unless}}
        \{{#with lastMessage}}
        <div class="chat-user-preview">\{{ body }}</div>
        \{{/with}}
      </div>
    </div>
  </div>
  <div class="delete-holder">
    <div class="delete-conversation">
      \{{#if isGroup}}
      Leave
      \{{else}}
        \{{#if isChannel}}
        Leave
        \{{else}}
        <i class="fa fa-trash-o"></i>
        \{{/if}}
      \{{/if}}
    </div>
  </div>
</div>