<div class="chat-card" data-conversation-id="\{{ id }}">
  <div class="chat-card-holder \{{#if unreadMessages}}unread\{{/if}} \{{#if isChannel}}channel\{{/if}} \{{#if isGroup}}group\{{/if}} \{{#if isMuted}}muted\{{/if}}" id="chat-\{{ id }}" data-conversation-id="\{{ id }}">
    <div class="profile-image-holder">
      <div class="profile-image" style="background-image: url('\{{auth avatar}}')"></div>
      <i class="fa fa-user"></i>
      <i class="fa fa-users"></i>
    </div>
    <div class="chat-info">
      <div class="chat-user-name">\{{ name }}</div>
      <div class="chat-user-preview-holder">
        \{{#unless definition.group.readOnly}}
          \{{#if isGroup}}
          <div class="chat-participants-preview">\{{ usersInConversation }}</div>
          \{{/if}}
          \{{#if isChannel}}
          <div class="chat-participants-preview"><i class="fa fa-users"></i> \{{ nParticipants }}</div>
          \{{/if}}
        \{{/unless}}
        \{{#with lastMessage}}
        <div class="chat-user-preview">\{{ body }}</div>
        \{{/with}}
      </div>
    </div>
    \{{#if isMuted}}
    <div class="icon">
      <div class="icon icon-muted"><i class="fa fa-bell-slash"></i></div>
    </div>
    \{{/if}}
    <div class="icon">
      <div class="icon icon-compact icon-show-more"><i class="fa fa-ellipsis-v"></i></div>
    </div>
  </div>
  <div class="actions-holder">
    <div class="actions">
      <div class="action" data-action="mute">
        \{{#if isMuted}}
        <i class="fa fa-lg fa-bell-slash-o"></i>
        \{{else}}
        <i class="fa fa-lg fa-bell-o"></i>
        \{{/if}}
      </div>
      <div class="action" data-action="delete">
        \{{#if isGroup}}
        <i class="fa fa-lg fa-sign-out"></i>
        \{{else}}
          \{{#if isChannel}}
          <i class="fa fa-lg fa-sign-out"></i>
          \{{else}}
          <i class="fa fa-lg fa-trash-o"></i>
          \{{/if}}
        \{{/if}}
      </div>
    </div>
  </div>
</div>